{% extends 'layouts/auth.html' %}

{% block title %}Login{% endblock %}
{% block h1_title %}Login{% endblock %}

{% block content %}
    {% with errors = get_flashed_messages() %}
        {% if errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 my-2 rounded relative" role="alert">
                <strong class="font-bold">Error!</strong>
                <span class="block sm:inline">{{ errors[0] }}</span>
            </div>
        {% endif %}
    {% endwith %}
    <form action="/auth/login" method="POST">
        {{ form.csrf_token }}
        <div class="mb-4">
            {{ form.email.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.email(class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm") }}
        </div>
        <div class="mb-4">
            {{ form.password.label(class="block text-sm font-medium text-gray-700") }}
            {{ form.password(class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm") }}
        </div>
        <div class="mb-4">
            {{ form.remember(class="mr-2") }}
            {{ form.remember.label(class="text-sm font-medium text-gray-700") }}
        </div>
        <div class="mb-4">
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Login
            </button>
        </div>
        <div class="mb-4">
            <a href="/auth/signup" class="w-full text-blue-500 hover:text-blue-700">Don't have an account yet? Sign
                Up</a>
        </div>
    </form>
{% endblock %}
