<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"/>
	{% endblock %}
</head>
<body>
<main class="min-h-screen w-screen flex flex-col bg-gray-100 text-gray-700" x-data="layout">
	<!-- header page -->
	<header class="flex w-full items-center justify-between border-b-2 border-gray-200 bg-white px-4 h-16">
		<!-- logo -->
		<div class="flex items-center space-x-2 gap-4">
			<button type="button" class="text-3xl bx bx-menu" @click="asideOpen = !asideOpen"></button>
			<div>Kepler Shop</div>
		</div>

		<!-- button profile -->
		<div class="flex gap-4">
			{% if not current_user.sellers %}
				<a href="/sellers/register"
				   class="rounded-md bg-gray-200 hover:bg-gray-300 transition-colors duration-250 h-10 text-white text-xs font-semibold p-2 flex items-center justify-center">
					Become a seller!
				</a>
			{% endif %}
			<button type="button" @click="profileOpen = true" class="overflow-hidden rounded-full">
				Hello, {{ current_user.given_name }}
			</button>
		</div>

		<!-- profile card -->
		{% include "includes/profile.html" %}
	</header>

	<div class="flex grow border border-red">
		<!-- aside -->
		<aside class="flex w-64 flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2"
		       x-show="asideOpen"
				{# FIXME #}
				   x-transition:enter="transition ease-out duration-300"
				   x-transition:enter-start="opacity-0 scale-90"
				   x-transition:enter-end="opacity-100 scale-100"
				   x-transition:leave="transition ease-in duration-300"
				   x-transition:leave-start="opacity-100 scale-100"
				   x-transition:leave-end="opacity-0 scale-90">

			<a href="/" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
				<span class="text-2xl"><i class="bx bx-home"></i></span>
				<span>Dashboard</span>
			</a>

			{% if current_user.sellers %}
				<a href="/products"
				   class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
					<span class="text-2xl"><i class="bx bx-cart"></i></span>
					<span>Your Products</span>
				</a>
			{% endif %}
		</aside>

		<!-- main content page -->
		<div class="border-red">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</main>

<script>
	async function editUser() {
		console.log("edit user", JSON.stringify(this.profile))

		const response = await fetch('/users', {
			method: 'PUT',
			headers: {'Content-Type': 'application/json'},
			body: JSON.stringify(this.profile)
		});

		if (response.ok) {
			this.originalProfile = this.profile;
			this.profileEditMode = false;
		} else {
			alert("Failed to update user"); // TODO find the will to do
		}
	}

	document.addEventListener("alpine:init", () => {
		Alpine.data("layout", () => ({
			profileOpen: false,
			asideOpen: true,
			linkShown: false,
			profileEditMode: false,
			editUser,
			profile: {
				destination_address: "{{ current_user.buyers[0].destination_address }}",
				card_number: "{{ current_user.buyers[0].card_number }}",

				{% if current_user.sellers %} iban: "{{ current_user.sellers[0].iban }}", {% endif %}
			},
			originalProfile: {
				destination_address: "{{ current_user.buyers[0].destination_address }}",
				card_number: "{{ current_user.buyers[0].card_number }}",

				{% if current_user.sellers %} iban: "{{ current_user.sellers[0].iban }}", {% endif %}
			}
		}));
	});
</script>
</body>
</html>