{% from 'macros/profile.html' import profile_card %}

{% macro row(name, path, icon, selected=False) -%}
    <a href="{{ path }}"
        {%- if selected -%}
       class="flex items-center space-x-4 rounded-md px-2 py-3 bg-gray-100 text-blue-600"
        {%- else -%}
       class="flex items-center space-x-4 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600"
        {%- endif -%}
    >
        <box-icon name="{{ icon }}" size="sm"></box-icon>
        <span>{{ name }}</span>
    </a>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    {% endblock %}
</head>
<body>
<main class="min-h-screen w-screen flex flex-col bg-gray-100 text-gray-700" x-data="layout">
    <!-- header page -->
    <header class="h-16 flex w-full items-center justify-between bg-white px-4 border-b-2 border-gray-200">
        <!-- logo -->
        <div class="flex items-center gap-4">
            <button type="button" @click="asideOpen = !asideOpen">
                <box-icon name="menu" class="flex items-center"></box-icon>
            </button>
            <a href="{{ url_for('home.index_view') }}" class="text-xl font-semibold rounded-lg px-2 py-1">Kepler Shop</a>
        </div>

        <form method="get" class="flex items-center w-1/2 mx-auto" action="{{ url_for('products.search_products') }}">
            {{ search.search.label(class="sr-only") }}
            <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"></path>
                    </svg>
                </div>
                {{ search.search(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5") }}
            </div>
            <button type="submit"
                    class="flex p-1.5 text-base ms-2 bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <box-icon name="search" color="white"></box-icon>
                <span class="sr-only">Search</span>
            </button>
        </form>

        <!-- button profile -->
        <div class="flex gap-4">
            {% if not current_user.sellers %}
                <a href="{{ url_for('sellers.register_view') }}"
                   class="rounded-md bg-gray-200 hover:bg-gray-300 transition-colors duration-250 h-10 text-xs font-semibold p-2 flex items-center justify-center">
                    Become a seller!
                </a>
            {% endif %}
            <button type="button" @click="profileOpen = true" class="rounded-lg px-2 py-1 max-w-48 text-ellipsis overflow-hidden whitespace-nowrap">
                Hello, {{ current_user.given_name }}
            </button>
        </div>

        {{ profile_card(current_user) }}
    </header>

    <div class="flex grow">
        <!-- aside -->
        <aside class="flex min-w-64 flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2"
               x-show="asideOpen"
               x-transition:enter="transition ease-out duration-300 transform"
               x-transition:enter-start="-translate-x-full"
               x-transition:enter-end="translate-x-0"
               x-transition:leave="transition ease-in duration-300 transform"
               x-transition:leave-start="translate-x-0"
               x-transition:leave-end="-translate-x-full"
        >
            {{ row("Dashboard", url_for("home.index_view"), "home", section == "dashboard") }}
            {{ row("Shop", url_for("products.search_products"), "store", section == "shop") }}
            {% if current_user.sellers %}
                {{ row("Your products", url_for("products.index_view"), "collection", section == "your_products") }}
            {% endif %}
            {% if current_user.buyers %}
                {{ row("Your cart", url_for("carts.index_view"), "cart", section == "your_cart") }}
            {% endif %}
        </aside>

        <!-- main content page -->
        <div class="grow">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>

<script>
    async function editUser() {
        console.log("edit user", JSON.stringify(this.profile))

        const response = await fetch('/users', {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(this.profile)
        });

        if (response.ok) {
            this.originalProfile = this.profile;
            this.profileEditMode = false;
        } else {
            alert("Failed to update user"); // TODO find the will to do
        }
    }

    document.addEventListener("alpine:init", () => {
        Alpine.data("layout", () => ({
            profileOpen: false,
            asideOpen: true,
            linkShown: false,
            profileEditMode: false,
            editUser,
            profile: {
                destination_address: "{{ current_user.buyers[0].destination_address }}",
                card_number: "{{ current_user.buyers[0].card_number }}",

                {% if current_user.sellers %}
                    iban: "{{ current_user.sellers[0].iban }}",
                    show_soldout: "{{ current_user.sellers[0].show_soldout_products }}" === "True",
                {% endif %}
            },
            originalProfile: {
                destination_address: "{{ current_user.buyers[0].destination_address }}",
                card_number: "{{ current_user.buyers[0].card_number }}",

                {% if current_user.sellers %}
                    iban: "{{ current_user.sellers[0].iban }}",
                    show_soldout: "{{ current_user.sellers[0].show_soldout_products }}" === "True",
                {% endif %}
            }
        }));
    });
</script>
</body>
</html>