<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"/>
	{% endblock %}
</head>
<body>
<main class="min-h-screen w-full bg-gray-100 text-gray-700" x-data="layout">
	<!-- header page -->
	<header class="flex w-full items-center justify-between border-b-2 border-gray-200 bg-white px-4 h-16">
		<!-- logo -->
		<div class="flex items-center space-x-2 gap-4">
			<button type="button" class="text-3xl bx bx-menu" @click="asideOpen = !asideOpen"></button>
			<div>Kepler Shop</div>
		</div>

		<!-- button profile -->
		<button type="button" @click="profileOpen = true" class="overflow-hidden rounded-full">
			Hello, {{ current_user.given_name }}
		</button>

		<!-- profile card -->
		{% include "includes/profile.html" %}
	</header>

	<div class="flex h-[calc(100vh-4rem)]">
		<!-- aside -->
		<aside class="flex w-72 flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2"
		       x-show="asideOpen"
		       x-transition:enter="transition ease-out duration-300"
		       x-transition:enter-start="opacity-0 scale-90"
		       x-transition:enter-end="opacity-100 scale-100"
		       x-transition:leave="transition ease-in duration-300"
		       x-transition:leave-start="opacity-100 scale-100"
		       x-transition:leave-end="opacity-0 scale-90">
			<a href="#" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
				<span class="text-2xl"><i class="bx bx-home"></i></span>
				<span>Dashboard</span>
			</a>

			<a href="#" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
				<span class="text-2xl"><i class="bx bx-cart"></i></span>
				<span>Cart</span>
			</a>

			<a href="#" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
				<span class="text-2xl"><i class="bx bx-shopping-bag"></i></span>
				<span>Shopping</span>
			</a>

			<a href="#" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
				<span class="text-2xl"><i class="bx bx-heart"></i></span>
				<span>My Favourite</span>
			</a>

			<a href="#" class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
				<span class="text-2xl"><i class="bx bx-user"></i></span>
				<span>Profile</span>
			</a>
		</aside>

		<!-- main content page -->
		<div class="w-full p-4">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</main>

<script>
	document.addEventListener("alpine:init", () => {
		Alpine.data("layout", () => ({
			profileOpen: false,
			asideOpen: true,
			linkShown: false,
			profileEditMode: false,
		}));
	});

	async function saveProfile(card_number, destination_address) {
		return await fetch('/buyers', {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({
				card_number,
				destination_address,
			})
		});
	}
</script>
</body>
</html>