{% extends 'layouts/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('product_view', () => ({
                categories: {{ product_categories|tojson }},

                name: "{{ product.name }}",
                description: "{{ product.description|default('No description available') }}",
                brand: "{{ product.brand }}",
                isSecondHand: "{{ product.is_second_hand }}",
                price: {{ product.price }},
                currency: "{{ product.currency }}",
                stock: {{ product.stock }},

                confirmDelete: false,

                showWarning: false,
                sequenceFailed: {{ sequence_failed|tojson }},

            }));
        });
    </script>
    <div x-data='product_view' class="bg-gray-100 text-gray-900">
        <div class="container mx-auto p-4">
            <div class="bg-white rounded-lg shadow-lg overflow-hidden lg:flex relative">
                <div class="lg:flex-shrink-0">
                    {% if product.image %}
                        <img class="lg:w-64 w-full h-64 lg:h-full" src="{{ product.image }}" alt="{{ product.name }}">
                    {% else %}
                        <div class="lg:w-64 w-full h-64 lg:h-full flex items-center justify-center">
                            <box-icon name="image-alt" size="lg"></box-icon>
                        </div>
                    {% endif %}
                </div>

                <div class="p-4 flex flex-col w-full">
                    <h2 class="text-xl font-semibold mb-2" x-text="name"></h2>
                    <div class="flex gap-2 mb-4" x-show="categories.length > 0">
                        <template x-for="category in categories">
                            <span
                                x-text="category"
                                class="text-sm font-medium bg-indigo-100 text-indigo-800 px-2 py-1 rounded-full shadow-md"
                            ></span>
                        </template>
                    </div>
                    <p class="mb-2" x-text="description"></p>
                    <p class="mb-2">Brand: <span class="font-semibold" x-text="brand"></span></p>
                    <p class="mb-4">Stock: <span class="font-semibold" x-text="stock"></span></p>
                    <div class="flex items-center gap-4 mb-8">
                        <div>
                            <span class="text-3xl font-bold" x-text="price"></span>
                            <span class="text font-medium" x-text="currency"></span>
                        </div>
                        <span
                            x-show="isSecondHand"
                            class="text-sm font-medium bg-green-100 text-green-800 px-2.5 py-1 rounded-full shadow-md"
                        >
                            New
                        </span>
                        <span
                            x-show="!isSecondHand"
                            class="my-4 text-sm font-medium bg-orange-100 text-orange-800 px-2 py-1 rounded-full"
                        >
                            Second hand
                        </span>
                    </div>

                    {% if product.deleted_at is not none %}
                        <div class="bg-gray-500 text-white rounded py-2 px-4">
                            This product has been removed.
                        </div>
                    {% elif is_seller_product %}
                        <div class="flex gap-4">
                            <a href="{{ url_for("products.product_edit_view", product_guid=product.guid) }}"
                               class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
                            >
                                Edit
                            </a>
                            <button @click="confirmDelete = true"
                                    class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600"
                            >
                                Delete
                            </button>

                            <div x-show="confirmDelete"
                                 class="absolute inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
                                <div class="bg-white p-4 rounded-lg shadow-lg">
                                    <p class="mb-4">Are you sure you want to delete this product?</p>
                                    <form class="flex gap-2"
                                          action="{{ url_for("products.product_delete_view", product_guid=product.guid) }}"
                                          method="POST">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <button @click="confirmDelete = false" type="reset"
                                                class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600"
                                        >
                                            Cancel
                                        </button>
                                        <button type="submit"
                                                class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600"
                                        >
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div x-show="showWarning"
                             class="absolute inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
                            <!-- ran out of stock -->
                            <div class="bg-white p-4 rounded-lg shadow-lg" x-show="stock <= 0">
                                <p class="mb-4">
                                    Unfortunately, this product is no longer available since the page was loaded.
                                </p>
                                <button @click="showWarning = false"
                                        class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600"
                                >
                                    Close
                                </button>
                            </div>

                            <!-- stock has been updated -->
                            <div class="bg-white p-4 rounded-lg shadow-lg flex flex-col items-end" x-show="stock > 0">
                                <p class="mb-4" x-show="stock > 0">
                                    Unfortunately,
                                    since the page was loaded only <span x-text="stock"></span> items are available.
                                    Would you like to proceed with this quantity?
                                </p>
                                <div class="flex gap-2">
                                    <button @click="showWarning = false"
                                            class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600"
                                    >
                                        Cancel
                                    </button>
                                    <button @click="updateCart"
                                            class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600"
                                    >
                                        Update Cart
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div x-show="sequenceFailed"
                             class="absolute inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
                            <div class="bg-white p-4 rounded-lg shadow-lg flex flex-col items-end">
                                <p class="mb-4">
                                    Unfortunately, this product has been updated and it was removed from your cart.
                                </p>
                                <button @click="sequenceFailed = false"
                                        class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
                                >
                                    Ok
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}