{% extends 'layouts/base.html' %}

{% block title %}Kepler Shop{% endblock %}

{% block content %}
<!-- Top left "Create a new product"-->
<div class="flex items-center justify-between w-full p-4">
    <h1 class="text-2xl font-semibold">Create a new product</h1>
</div>

<!-- Form to create a new product, should be aligned with the above div -->
<form action="{{ url_for('products.create') }}" method="POST" class="flex flex-col gap-4 p-4">
    <div class="flex flex-row gap-2">
        <div class="flex flex-col gap-2 flex-grow">
            <label for="name" class="text-sm font-semibold">Name</label>
            <input type="text" name="name" id="name" class="rounded-md border border-gray-300 p-2" required>
        </div>
        <div class="flex flex-col gap-2 flex-grow">
            <label for="brand" class="text-sm font-semibold">Brand</label>
            <input type="text" name="brand" id="brand" class="rounded-md border border-gray-300 p-2" required>
        </div>
    </div>

    <div class="flex flex-col gap-2">
        <label for="description" class="text-sm font-semibold">Description</label>
        <textarea name="description" id="description" class="rounded-md border border-gray-300 p-2" required></textarea>
    </div>
    <div class="flex flex-row gap-2">
        <div class="flex flex-col gap-2 flex-grow">
            <label for="price" class="text-sm font-semibold">Price</label>
            <input type="number" name="price" id="price" class="rounded-md border border-gray-300 p-2" required>
        </div>
        <div class="flex flex-col gap-2 flex-grow">
            <label for="stock" class="text-sm font-semibold">Stock</label>
            <input type="number" name="stock" id="stock" class="rounded-md border border-gray-300 p-2" required>
        </div>
    </div>
    <div class="flex flex-col gap-2" x-data="categories">
        <label for="categories" class="text-sm font-semibold">Categories</label>
        <select name="categories" id="categories" class="rounded-md border border-gray-300 p-2" required multiple>
            <template x-for="item in items" :key="item.guid">
                <option :value="item.guid" x-text="item.name"></option>
            </template>
        </select>
    </div>
    <script>
        document.addEventListener("alpine:init", () => {
            console.log({{ categories|tojson }});
            Alpine.data('categories', function() {
                return {
                    items: {{ categories|tojson }}
                }
            });
        });

        document.getElementById('categories').addEventListener('change', function() {
            var selectedOptions = Array.from(this.selectedOptions);
            var chipsContainer = document.getElementById('categories-chips');
            chipsContainer.innerHTML = '<button type="button" class="rounded-md bg-red-200 text-red-800 px-2 py-1 mr-2 mb-2">+ Add</button>';
            selectedOptions.forEach(function(option) {
                var chip = document.createElement('span');
                chip.classList.add('rounded-md', 'bg-blue-200', 'text-blue-800', 'px-2', 'py-1', 'mr-2', 'mb-2');
                chip.textContent = option.textContent;
                chipsContainer.appendChild(chip);
            });
        });
    </script>
    <div id="categories-chips" class="flex flex-wrap gap-2">
        <button type="button" class="rounded-md bg-red-200 text-red-800 px-2 py-1 mr-2 mb-2">+ Add</button>
    </div>
    <!-- Boolean flag for is second hand -->
    <div class="flex flex-row gap-2">
        <div class="flex gap-2 flex-grow">
            <label for="is_second_hand" class="text-sm font-semibold">Is second hand?</label>
            <input type="checkbox" name="is_second_hand" id="is_second_hand" class="rounded-md border border-gray-300 p-2">
        </div>
    </div>
    <button type="submit" class="rounded-md bg-blue-500 hover:bg-blue-600 text-white font-semibold p-2">Create</button>
</form>
{% endblock %}