{% extends 'layouts/base.html' %}
{% import 'products/macros/pagination.html' as pagination %}
{% import 'products/macros/product.html' as product %}

{% block title %}Kepler Shop{% endblock %}

{% block content %}
    {% if paginated_products.items|length == 0 %}
        <div class="flex flex-col justify-center items-center h-full w-full gap-2">
            <box-icon name="store" size="lg" color="grey"></box-icon>
            <span>You don't have any product</span>
            <!-- button with go to products/create -->
            <a href="{{ url_for('products.create_product') }}"
               class="mt-6 rounded-md bg-indigo-500 hover:bg-indigo-700 transition-colors duration-250 h-10 text-white text-xs font-semibold p-2 flex items-center justify-center">
                Add your first product!
            </a>
        </div>
    {% else %}
        <div class="flex flex-col h-[calc(100vh-4rem)]">
        <div class="text-2xl font-semibold m-4 flex items-center justify-between">
            Your products
            <a
                class="bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                    text-white font-medium rounded-lg text-sm px-4 py-2.5
                    flex justify-center items-center gap-2"
                href="{{ url_for('products.create_product') }}"
            >
                <box-icon name='plus' color='white'></box-icon>
                Add a new product!
            </a>
        </div>
            <div class="overflow-auto flex-grow p-4 shadow-inner">
                <div class="flex flex-wrap justify-center gap-4">
                    {% for p in paginated_products.items %}
                        {{ product.card(p) }}
                    {% endfor %}
                </div>
            </div>
            {{ pagination.render_pagination(paginated_products) }}
        </div>
    {% endif %}
{% endblock %}