{% macro shipment_status_chip(status) -%}
    {% if status.__str__() == "ACCEPTED" %}
        <span
                class="bg-red-100 text-red-800 text-xs font-semibold px-2.5 py-1 rounded-lg shadow-md"
        >
            Accepted
        </span>
    {% elif status.__str__() == "SHIPPED" %}
        <span
                class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-1 rounded-lg shadow-md"
        >
            Shipped
        </span>
    {% elif status.__str__() == "IN_DELIVERY" %}
        <span
                class="bg-green-100 text-yellow-500 text-xs font-semibold px-2.5 py-1 rounded-lg shadow-md"
        >
            In Delivery
        </span>
    {% elif status.__str__() == "DELIVERED" %}
        <span
                class="bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-1 rounded-lg shadow-md"
        >
            Delivered
        </span>
    {% endif %}
{%- endmacro %}