{% from 'shipments/macros/shipment_status_chip.html' import shipment_status_chip %}

{% macro order_card(order, current_user) -%}
    {% set reservations = order.cart.reservations|selectattr('deleted_at', 'none')|list %}
    {# TODO: account for currency differences between reservations #}
    {% set ns = namespace(total=0) %}
    {% for reservation in reservations %}
        {% set ns.total = ns.total + (reservation.quantity * reservation.product.price) %}
    {% endfor %}

    {% set currency = reservations[0].product.currency %}

    <tr class="bg-white border-b bg-gray-100">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            <a href="{{ url_for('orders.order_details_view', order_guid=order.guid) }}">
                {{ order.guid }}
            </a>
        </th>
        <td class="px-6 py-4">
            {{ order.created_at.strftime('%Y %m %d %H:%M') }}
        </td>
        <td class="px-6 py-4">
            <div class="flex items-center gap-2">

                {% if order.status.__str__() == "Created" %}
                    <span
                            class="bg-red-100 text-red-800 text-xs font-semibold px-2.5 py-1 rounded-lg shadow-md"
                    >
                    Pending
                </span>
                {% else %}
                    <span
                            class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-1 rounded-lg shadow-md"
                    >
                    Completed
                </span>
                {% endif %}
            </div>
        </td>
        <td class="px-6 py-4">
            {{ order.total_price }} {{ order.total_currency }}
        </td>
    </tr>

{%- endmacro %}

{% macro orders_list(orders, current_user) -%}
    <div class="overflow-auto flex-grow p-4">
        <div class="p-4 m-4 flex flex-col justify-between items-start bg-white border border-gray-200 rounded-lg">
            <div class="flex flex-col gap-2 w-full">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 mt-2">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Code
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Total price
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in orders %}
                        {{ order_card(p, current_user) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%- endmacro %}