{% macro order_card(order, current_user) -%}
    <div class="w-full p-4 flex flex-row justify-between space-x-4 w-full bg-white border border-gray-200 rounded-lg">
        <div class="flex flex-col justify-center">
            <div>
                <h3 class="text-xl font-semibold tracking-tight text-gray-900">{{ order.status }}</h3>
                {% set reservation = order.cart.reservation|selectattr('deleteAt', 'equalto', None)|list %}
                <span class="text-xs text-gray-700 -mt-4">{{ reservation|length }} products</span>
            </div>
        </div>
        <div class="flex flex-col items-end justify-between p-4">
            <div>
                <span class="">Created: {{ order.created_at.strftime('%Y-%m-%d %H:%M') }}</span>
                {# TODO ahahahahahaha #}
{#                <span class="text-3xl font-bold">{{ order.total }}</span>#}
{#                <span class="text font-medium mr-4">{{ order.currency }}</span>#}
            </div>
            {% if order.status.__str__() == "Created" %}
            <a href="{{ url_for('orders.complete_order_view', order_guid=order.guid) }}"
               class="bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
               text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center shadow-md">
                Complete order
            </a>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro orders_list(orders, current_user) -%}
    <div class="overflow-auto flex-grow p-4 shadow-inner">
        <div class="flex flex-wrap gap-4">
            {% for p in orders %}
                {{ order_card(p, current_user) }}
            {% endfor %}
        </div>
    </div>
{%- endmacro %}