{% macro order_card(order, current_user) -%}
    {# TODO: account for currency differences between reservations #}
    {% set ns = namespace(total=0) %}
    {% for product in order.ordered_products %}
        {% set ns.total = ns.total + (product.quantity * product.product.price) %}
    {% endfor %}

    <tr class="bg-white border-b">
        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            <label>
                <input type="checkbox" name="order_guid" value="{{ order.guid }}"
                       x-model="selected"
                       class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out">
            </label>
        </td>
        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            <a href="{{ url_for('orders.seller_order_details_view', seller_order_guid=order.guid) }}">
                {{ order.guid }}
            </a>
        </td>

        <td class="px-6 py-4">
            {{ order.created_at.strftime('%Y %m %d %H:%M') }}
        </td>
        <td class="px-6 py-4">
            <div class="flex items-center gap-2">
                {{ order.buyer_order.cart.buyer.user.given_name }} {{ order.buyer_order.cart.buyer.user.family_name }}
            </div>
        </td>
        <td class="px-6 py-4">
            {{ ns.total }} {{ order.buyer_order.total_currency }}
        </td>
    </tr>
{%- endmacro %}

{% macro orders_list(orders, current_user) -%}
    <div class="overflow-auto flex-grow p-4"
         x-data="{ selected: [], allSelected: false }"
    >
        <div class="flex items pl-4 cursor-pointer">
            <div class="flex items gap-2"
                 x-data="{ tooltip: false }"
                 x-on:mouseover="tooltip = true"
                 x-on:mouseleave="tooltip = false"
            >
                <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 disabled:bg-slate-300"
                        x-bind:disabled="selected.length === 0"
                        x-on:click="console.log(selected);">
                    Ship orders
                </button>
                <div x-show="tooltip && selected.length === 0" class="absolute bg-white border border-gray-200 rounded-lg p-2 shadow-lg transform -translate-y-0 translate-x-32">
                    <span>Select at least one order</span>
                </div>
            </div>
        </div>
        <div class="p-4 m-4 flex flex-col justify-between items-start bg-white border border-gray-200 rounded-lg">
            <div class="flex flex-col gap-2 w-full">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 mt-2">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            <label>
                                <input type="checkbox"
                                        x-model="allSelected"
                                        x-on:click="selected = allSelected ? [] : Array.from(document.getElementsByName('order_guid')).map(e => e.value);"
                                       class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out">
                            </label>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Code
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Buyer
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Total price
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in orders %}
                        {{ order_card(p, current_user) }}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%- endmacro %}