{% macro order_card(order, current_user) -%}
    {% set ns = namespace(total=0, currency='') %}
    {# TODO: account for currency differences between reservations #}
    {% for ordered_product in order.ordered_products %}
        {% set ns.total = ns.total + (ordered_product.quantity * ordered_product.product.price) %}
        {% set ns.currency = ordered_product.product.currency %}
    {% endfor %}

    <div class="w-full p-4 flex flex-row justify-between items-end space-x-4 w-full bg-white border border-gray-200 rounded-lg">
        <div class="flex flex-col justify-center space-y-2">
            <h3 class="text-xl font-semibold tracking-tight text-gray-900">
                {{ order.created_at.strftime('%Y %m %d %H:%M') }}
            </h3>
            <div>
                <span class="text-3xl font-bold">{{ ns.total }}</span>
                <span class="text font-medium mr-4">{{ ns.currency }}</span>
            </div>
        </div>
        <div class="flex flex-col items-end justify-between space-y-4">
            <div class="flex items-center gap-2">

                <span
                    {% if order.status.__str__() == "Created" %}
                        class="bg-yellow-100 text-yellow-800 text-xs font-semibold px-2.5 py-1 rounded-lg shadow-md"
                    {% else %}
                        class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-1 rounded-lg shadow-md"
                    {% endif %}
                >
                {{ order.status }}
                </span>
            </div>
            <div class="text-lg font-bold">
                {{ reservations|length }} product{{ 's' if reservations|length > 1 else '' }}
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro orders_list(orders, current_user) -%}
    <div class="overflow-auto flex-grow p-4 shadow-inner">
        <div class="flex flex-wrap gap-4">
            {% for p in orders %}
                {{ order_card(p, current_user) }}
            {% endfor %}
        </div>
    </div>
{%- endmacro %}