{% macro review_creation_form(product, default_review) -%}
    <form method="post" action="{{ url_for('reviews.create_product_review_view', product_guid=product.guid) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="flex flex-col gap-4 mx-4">
            <div class="flex items center gap-4">
                <label for="rating" class="text-sm font-semibold">Rating</label>

                {%- if default_review -%}
                    <select name="rating" id="rating" class="border-2 border-gray-200 rounded-lg p-2">
                        <option value="1" {% if default_review.current_rating == 1 %} selected {% endif %}>1</option>
                        <option value="2" {% if default_review.current_rating == 2 %} selected {% endif %}>2</option>
                        <option value="3" {% if default_review.current_rating == 3 %} selected {% endif %}>3</option>
                        <option value="4" {% if default_review.current_rating == 4 %} selected {% endif %}>4</option>
                        <option value="5" {% if default_review.current_rating == 5 %} selected {% endif %}>5</option>
                    </select>
                {% else %}
                    <select name="rating" id="rating" class="border-2 border-gray-200 rounded-lg p-2">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                {%- endif %}
            </div>

            <div class="flex flex-col gap-4">
                <label for="content" class="text-sm font-semibold">Content</label>
                {%- if default_review -%}
                    <textarea name="content" id="content" class="border-2 border-gray-200 rounded-lg p-2">{{ default_review.current_message }}</textarea>
                {%- else -%}
                    <textarea name="content" id="content" class="border-2 border-gray-200 rounded-lg p-2"></textarea>
                {%- endif %}
            </div>
            {% if default_review %}
                <input type="hidden" name="review_guid" value="{{ default_review.guid }}">
            {% endif %}
            <button type="submit" class="bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center shadow-md">
                Submit
            </button>
        </div>
    </form>
{%- endmacro %}
