{% extends 'layouts/base.html' %}
{% import 'macros/pagination.html' as pagination %}
{% from 'macros/error_message.html' import error_message %}
{% from 'carts/macros/cart_list.html' import cart_list %}

{% block title %}Kepler Shop{% endblock %}

{% block content %}
    <div class="flex flex-col h-[calc(100vh-4rem)]">
        <div class="text-2xl font-semibold px-4 flex items-center justify-between border-b h-20">
            Your cart
        </div>
        {{ error_message() }}
        {% if paginated_reservations.items|length == 0 %}
            <div class="flex flex-col justify-center items-center grow w-full gap-2">
                <box-icon name="cart" size="lg" color="grey"></box-icon>
                <span>You don't have any product yet</span>
            </div>
        {% else %}
            {{ cart_list(paginated_reservations.items) }}
            {{ pagination.render_pagination(paginated_reservations) }}
        {% endif %}
    </div>
{% endblock %}