{% extends 'layouts/base.html' %}
{% from 'macros/pagination.html' import pagination %}
{% from 'macros/error_message.html' import error_message %}
{% from 'carts/macros/cart_list.html' import cart_list %}

{% block title %}Kepler Shop{% endblock %}

{% block content %}
    <div class="flex flex-col h-[calc(100vh-4rem)]">
        <div class="text-2xl font-semibold px-4 flex items-center justify-between border-b min-h-20">
            Your cart
            {% if paginated_reservations.total > 0 %}
                <a
                    class="bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                    text-white font-medium rounded-lg text-sm px-4 py-2.5
                    flex justify-center items-center gap-2 shadow-lg transition-colors duration-250 relative"
                    href="{{ url_for('orders.create_order_view') }}">
                    <div x-show="altHold" x-cloak
                         class="absolute top-1/2 ml-4 transform -translate-y-1/2 start-0 z-10
                         bg-gray-200 rounded-md h-6 aspect-square flex items-center justify-center text-xs text-gray-500"
                         @keydown.window.alt.n="window.location.href = `{{ url_for('orders.create_order_view') }}`;"
                    >
                        N
                    </div>
                    <box-icon name='check-square' color='white'></box-icon>
                    Order now
                </a>
            {% endif %}
        </div>
        {{ error_message() }}
        {% if paginated_reservations.items|length == 0 %}
            <div class="flex flex-col justify-center items-center grow w-full gap-2">
                <box-icon name="cart" size="lg" color="grey"></box-icon>
                <span>You don't have any product in the cart yet</span>
            </div>
        {% else %}
            {{ cart_list(paginated_reservations.items) }}
            {{ pagination(paginated_reservations, "carts.index_view") }}
        {% endif %}
    </div>
{% endblock %}