{% extends 'layouts/base.html' %}
{% from 'macros/error_message.html' import error_message %}

{% block title %}Kepler Shop{% endblock %}

{% block content %}
    <div class="flex flex-col h-[calc(100vh-4rem)]">
        <div class="text-2xl font-semibold px-4 flex items-center border-b min-h-20">
            <!-- put a back button here -->
            <a href="{{ url_for('orders.seller_orders_view') }}" class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
                </svg>
            </a>
            <span class="pl-2">Shipment details</span>
        </div>

        {{ error_message() }}
    </div>
{% endblock %}
