{% extends 'layouts/base.html' %}
{% from 'macros/pagination.html' import pagination %}
{% from 'shipments/macros/shipments_list.html' import shipments_list %}
{% from 'macros/error_message.html' import error_message %}

{% block title %}Kepler Shop{% endblock %}

{% block content %}
    <div class="flex flex-col h-[calc(100vh-4rem)]">
        <div class="text-2xl font-semibold px-4 flex items-center justify-between border-b min-h-20">
            Your Shipments
        </div>
        {{ error_message() }}
        {% if shipments.items|length == 0 %}
            <div class="flex flex-col justify-center items-center h-full w-full gap-2">
                <box-icon name="package" size="lg" color="grey"></box-icon>
                <span>You are not managing any shipment yet</span>
            </div>
        {% else %}
            {{ shipments_list(shipments.items, current_user) }}
            {{ pagination(shipments) }}
        {% endif %}
    </div>
{% endblock %}
